In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("D:\data sets\dataset - netflix1.csv")
data.head(5)

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,PG-13,90 min,listed_in
1,s3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021,TV-MA,1 Season,listed_in
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021,TV-MA,1 Season,listed_in
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021,TV-PG,91 min,listed_in
4,s8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993,TV-MA,125 min,listed_in

In [3]:
data.shape

(8790, 10)

In [4]:
data.size

87900

In [5]:
data.describe()

       release_year
count   8790.000000
mean    2014.183163
std        8.825466
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8790 non-null   object
 1   type          8790 non-null   object
 2   title         8790 non-null   object
 3   director      8790 non-null   object
 4   country       8790 non-null   object
 5   date_added    8790 non-null   object
 6   release_year  8790 non-null   int64
 7   rating        8790 non-null   object
 8   duration      8790 non-null   object
 9   listed_in     8790 non-null   object
dtypes: int64(1), object(9)
memory usage: 686.8+ KB

In [7]:
data.isnull().sum()

show_id         0
type            0
title           0
director        0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
dtype: int64

In [8]:
data['date_added']=pd.to_datetime(data['date_added'],format='mixed')
data['date_added'].head(5)

0   2021-09-25
1   2021-09-24
2   2021-09-24
3   2021-09-22
4   2021-09-24
Name: date_added, dtype: datetime64[ns]

In [9]:
data.isnull().sum()

show_id         0
type            0
title           0
director        0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
dtype: int64

In [10]:
data=data[((data['date_added'].dt.year)>=data['release_year'])]

In [26]:
data[data['title'].duplicated()]

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in
4260,s5966,Movie,NaN,Paul Greengrass,Norway,2018-10-10,2018,R,144 min,listed_in
4261,s5967,Movie,NaN,Swapnaneel Jayakar,India,2019-03-29,2019,TV-14,124 min,listed_in

In [32]:
data.drop_duplicates(['title'],inplace=True)

In [34]:
data.shape

(8774, 10)